%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= I18n.t(:sign_up)
    = link_to(user_facebook_omniauth_authorize_path, class: 'general-login-icon', id: 'facebook', method: :post) do
      %i.fab.fa-facebook-square{style: "font-size: 45px"}
    %p.general-login-text= I18n.t(:or)
  = simple_form_for resource, url: registration_path(resource_name), defaults: { wrapper_html: { class: 'form-group mb-30' } }, validate: true do |form|
    = render "devise/shared/error_messages", resource: resource
    = form.input :email, label: I18n.t(:enter_email), placeholder: I18n.t(:enter_email)
    = form.input :password, label: I18n.t(:password), placeholder: I18n.t(:password), confirmation: true
    = form.input :password_confirmation, input_html: { id: 'confirm' }, label: I18n.t(:confirm_password), placeholder: I18n.t(:confirm_password), presence: true
    .text-center
      %button.btn.btn-default.mb-20= I18n.t(:back_to_store)
  %p.general-sign-text.text-center
    = I18n.t(:have_account)
    = link_to(I18n.t(:log_in), new_session_path(resource), class: 'in-gold-500')
