%main.container.mb-res-50
  = render('layouts/partials/checkout_steps', active: I18n.t(:payment))
  %h3.general-subtitle= I18n.t(:credit_card)
  = simple_form_for instances.payment, url: checking_path, html: {class: 'max-600 mb-600'}, method: :put do |form|
    = form.hidden_field :order_id, value: instances.order.id
    = form.input :number, label: I18n.t(:card_number), placeholder: I18n.t(:card_number)
    .row
      .col-sm-6
        = form.input :name, label: I18n.t(:name_on_card), placeholder: I18n.t(:name_on_card)
      .col-sm-3
        = form.input :expiration_date, label: I18n.t(:month_year_on_card), placeholder: I18n.t(:month_year_on_card)
      .col-sm-3
        %p.hint-cvv{style: 'display:none'}= I18n.t(:hint_cvv)
        .form-group.relative
          = form.input :cvv, label: I18n.t(:cvv), placeholder: I18n.t(:cvv)
          %i.fa.fa-question-circle.general-form-help
    .general-text-align
      %p.in-gold-500.font-18= I18n.t(:order_summary)
      %table.general-summary-table
        = render('layouts/partials/total_order_price', order: instances.order)
    .text-center
      = form.submit I18n.t(:continue), class: 'btn btn-default mb-80'
