%main.container.general-main-wrap
  = render('layouts/partials/checkout_steps', active: I18n.t(:confirm))
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle= I18n.t(:shipping_address)
      = render('layouts/partials/address_data', address: instances.shipping_address, link: true)
    .col-sm-3
      %h3.general-subtitle= I18n.t(:billing_address)
      = render('layouts/partials/address_data', address: instances.billing_address, link: true)
    = render('layouts/partials/shipments_data', delivery: instances.delivery, order: instances.order, link: true)
    = render('layouts/partials/payment_data', payment: instances.payment, link: true)
  = render('layouts/partials/order_books', order: instances.order, status: false)
  .text-center.general-text-right
    %p.in-gold-500.font-18= I18n.t(:order_summary)
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render('layouts/partials/total_order_price', order: instances.order)
  .text-center
    = link_to I18n.t(:place_order), checking_path, class: 'btn btn-default mb-20', method: :patch
