%main.container
  %h1.general-title-margin= I18n.t(:title_catalog)
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        %a.dropdown-toggle.lead.small{'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
          = I18n.t(:newest_first)
          %i.fas.fa-angle-down.dropdown-icon.pull-right
        %ul.dropdown-menu
          %li
            = link_to(I18n.t(:newest_first), '/books?sort=new')
          %li
            = link_to(I18n.t(:popular_first), '/books?sort=popular')
          %li
            = link_to(I18n.t(:sort_price, start: 'low', end: 'hight'), '/books?sort=price-low')
          %li
            = link_to(I18n.t(:sort_price, start: 'hight', end: 'low'), '/books?sort=price-hight')
          %li
            = link_to(I18n.t(:sort_title, start: 'A', end: 'Z'), '/books?sort=title-asc')
          %li
            = link_to(I18n.t(:sort_title, start: 'Z', end: 'A'), '/books?sort=title-desc')
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        = link_to(books_path, class: 'filter-link') do
          = I18n.t(:all_books)
          %span.badge.general-badge= @total_quantity
        - @categories.each do |category|
          %li.mr-35
            = link_to("/books?category=#{category.id}", class: 'filter-link') do
              = I18n.t(category.name.downcase.sub(' ', '_').to_sym)
              %span.badge.general-badge= category.books.length
  .mb-120
    .row
      - @books.each do |book|
        .col-xs-6.col-sm-3
          .general-thumb-wrap
            .thumbnail.general-thumbnail
              %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
              .thumb-hover
                .general-thumb-link-wrap
                  = link_to("/books/#{book.id}", class: "thumb-hover-link") do
                    %i.fas.fa-eye.thumb-icon{'aria-hidden': "true"}
                  %a.thumb-hover-link{href: "#"}
                    %i.fas.fa-shopping-cart.thumb-icon
          .general-thumb-info
            %p.title= book.name
            %p.font-16.in-gold-500= "€ #{book.price || 'no price yet'}"
            %span.divider-sm
            = render('layouts/partials/authors_name', authors: book.authors)
    .text-center
      = raw pagy_nav(@pagy)
      -#%button.btn.btn-primary= I18n.t(:view_more)

