%main.container.general-main-wrap
  .text-center
    %h1.mb-30= I18n.t(:hello_user, user: @resource.email)
    %p.general-password-text= I18n.t(:change_user_password)
    = link_to(I18n.t(:change_user_password), edit_password_url(@resource, reset_password_token: @token))
    %p.general-password-text= I18n.t(:ignote_email)
    %p.general-password-text= I18n.t(:title_change_password_link)
