%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
        %span.sr-only
        %span.icon-bar
      = link_to(I18n.t(:title_store), root_path, class: 'navbar-brand')
    = link_to(cart_path, class: 'shop-link pull-right') do
      %span.shop-icon{style: session[:current_cart] ? '' : "background-color: #fff" }
        %span.shop-quantity= session[:quantity_books]
    #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
      - unless user_signed_in?
        %ul.nav.navbar-nav
          %li
            = link_to(I18n.t(:home), root_path)
          %li
            = link_to(I18n.t(:shop), books_path, data_toggle: "collapse", class: "article", type: 'button', aria_expanded: 'false', aria_controls: 'menu')
          %li
            = link_to(I18n.t(:log_in), new_session_path(User))
          %li
            = link_to(I18n.t(:sign_up), new_registration_path(User))
      - else
        %ul.nav.navbar-nav
          %li
            = link_to(I18n.t(:home), root_path)
          %li
            = link_to(I18n.t(:shop), books_path, data_toggle: "collapse", class: "article", type: 'button', aria_expanded: 'false', aria_controls: 'menu')
          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}= I18n.t(:my_account)
            %ul.dropdown-menu
              %li
                = link_to(I18n.t(:orders), '/orders')
              %li
                = link_to(I18n.t(:settings), edit_setting_path)
              %li.divider{role: "separator"}
              %li
                = link_to(I18n.t(:log_out), destroy_user_session_path, :method => :delete)
