- books.each_with_index do |book, index|
  .item{ class: "#{'active' if index.zero?}" }
    .row
      .col-sm-5
        .general-img-wrap
          %img.img-shadow.general-thumbnail-img{src:  book.images.first.image(:large).url, alt: "design-book"}
      .col-sm-7
        .mb-60
          %h1= book.name
          %p.lead= book.description
          = render('layouts/partials/authors_name', authors: book.authors)
          .general-align
            %button.btn-primary= I18n.t(:buy_now)
