.mb-80
  %h3= I18n.t(:write_review)
  %p.general-info-text= I18n.t(:score)
  .mb-15
    %ul.stars
      - 5.times do |index|
        %li.star
          %i.fas.fa-star{id: index + 1}
  - if current_user
    = simple_form_for ReviewForm.new(Review.new), url: review_path, html: {class: 'row'} do |review|
      .col-md-8
        = review.input :title, label: I18n.t(:title), label_input: { class: 'control-label input-label in-grey-600'}, input_html: {id: 'title'}
        = review.input :message, as: :text, label: I18n.t(:review), label_input: { class: 'control-label input-label in-grey-600'}, input_html: {id: 'review', cols: 5, rows: 8}
        = review.input :stars, :as => :hidden, input_html: {value: 1}
        = review.input :book_id, :as => :hidden, input_html: {value: book_id}
        = review.input :user_id, :as => :hidden, input_html: {value: current_user ? current_user.id : 1}
        = review.button :submit, I18n.t(:post)
  .mb-80
    .rating-stars.text-center
    %h3.in-gold-500.mb-25= "#{I18n.t(:reviews)} #{reviews.length}"
    - reviews.each do |review|
      .general-message-wrap.divider-lg
        .clearfix
          %span.img-circle.logo-size.inlide-block.pull-left.logo-empty= review.user.decorate.image_letter
          .ml-70
            %div
              .general-message-date.hidden-xs= review.created_at.strftime("%d/%m/%Y")
              .max-260
                .general-message-verified= I18n.t(:verified_reviewer)
                .general-message-name= review.user.decorate.show_email_or_name
            .mb-15
              %ul.stars
                - 5.times do |index|
                  %li.read-star
                    %i.fas.fa-star{class: "#{'clicked-stars' if index + 1 <= review.stars.to_i }"}
            %p= review.message
