= simple_form_for current_user, url: user_password_path, html: { class: 'general-form-md divider-lg-bottom pb-25',
          id: 'edit_user_password'}, method: :put, validate: true do |form|
  = render('layouts/partials/errors', errors: params[:errors_password] || [])
  = form.input :password, label: I18n.t(:old_password), name: 'password', placeholder: I18n.t(:old_password),
            input_html: {id: 'oldPassword'}, wrapper_html: { class: 'form-group mb-30'}
  = form.input :password, label: I18n.t(:new_password), name: 'password', placeholder: I18n.t(:new_password),
            input_html: {id: 'password'}, wrapper_html: { class: "form-group mb-30 #{'has-error' if params[:errors_password]}"}
  = form.input :password, label: I18n.t(:confirm_password), name: 'password', placeholder: I18n.t(:confirm_password),
            input_html: {id: 'confirmPassword'}, wrapper_html: { class: 'form-group mb-40'}
  .text-center.general-text-align
    = form.button :submit, I18n.t(:save), name: 'password_button'
